<html>
  <head>
  
  </head>
  <body>
  <center>
    <h1>Welcome to the Guess game</h1>
    <p>
      Your game difficulty is: {{ difficulty }}

	   <br>
	  Your guess numbers are: {{ user_guess }}
    </p>

	<form class="form-style-4" action="" method="post">
  <label for="level">Guess your number (1-5)</label>
 
  <input type="number" name="guess_form" value="" required>
  <br>
  <br>
  <input type="submit" value="start">
  
</form>
  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
{% extends "layout.html" %}
  </center>
  </body>
</html>

