<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="cache-control" content="no-cache" />
    <title>Games app</title>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Yahel's web app</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
  </body>
</html>